/* 换肤--蓝色*/
.m_fli_down,.m_inde_tjtxt li,.m_rjhj_ul li,.m_qqnewlist li,.m_qqdown_ul li,.m_qqyjul1 li,.m_hot_list span,.m_xzk,.m_softright2  .m_softp5 a  {  background-image:url(ico.png); background-repeat:no-repeat;_background-image:url(ico.gif);}

.m_softright2  h4 span i a,.m_softright2  h4 span i.m_hover a {background-image:url(ico.png);}

.m_downphul li.m_downph1 span,.m_downphul li.m_downph2 span,.m_downphul li.m_downph3 span,.m_hotdown span,.m_sstijiao input,.m_azpd .m_azdiv h4 .m_azlitt,.m_hotqqyj a,#backTop,.m_azphdiv ul li.f-t3 span,.m_softleft3 ul li.f-t3 span,h3.f_inh3 em a:hover{ background-color:#00AAFF}

.m_qqnewlist .m_sname,.m_qqdown_pa,.m_softright2  h4 span em,.m_softleft1 h5.m_hover a,.f_colo { color:#0d65c0}

a:hover,h3.f_inh3 i a:hover { color:#4c8acf; text-decoration:underline}
.m_xzk {  border:1px #619cd6 solid;border-right:none; color:#4c769f}
.m_sear input,.m_hot_list ul li .m_h_img:hover,.m_ztjs_ul a:hover img  {border:1px #619cd6 solid;}
.m_nav,.m_nav  li div a:hover,#backTop:hover,.m_xzk_p a:hover,.m_softleft1 ul li a:hover,.m_softleft1 ul li.m_hover a,.m_softleft1 ul li a.red{ background-color:#00AAFF}
.m_nav a.n1:hover,.m_nav .m_hover a.n1,.m_nav .m_nav_hover1  a.n1,.m_nav .f_hover  a.n1 { background:#f5faff; color:#4c7bb3}
.g_nemu2 { background:#f5faff}
.m_cen h3 span {border-bottom:2px #4c8acf solid;}
h3.f_inh3{ border-top:2px #619cd6 solid;}
.m_rjhj p.m_topimg a:hover { border:2px #4c8acf solid; padding:0}
.m_hotqqyj a:hover {background-color:#4c769f;}
.m_nav  li div {border:1px #a9c9e4 solid;background:#f5faff;}
.m_xzk_p {border:1px #a9c9e4 solid;}

.m_softright2  div.f_hover,.m_softright1 ul li.m_tj2  { background:#f8fbff}
.m_softright2 .m_softli1 .m_softp1 a,.m_softright2  .m_softp4 span { color:#5573a1}
.m_softright2  h4 span a:hover  { color:#4c8acf;}
.m_softright1 ul li .m_tj2a  {  background-color:#00aaff;border:1px #159fe4 solid; color:#FFF;}
.m_softright1 ul li .m_tj2a:hover { background-color:#0093e4; }


/* 软件系列 */
#show_content { background:#f1f7ff;}
#show_content a {  background-image:url(image.gif); }
.m_wzlb  li .m_newdianji { background-image:url(dj.gif);color:#00a8ff;}

.bdsharebuttonbox { margin: 7px 0 0 0;}












































